---
layout: default
title: Home
---

<div style="
width: 100%;
max-height: 100%;
margin: 0 auto;
">

<!-- <img src="assets\img\audience3.jpg" alt="Protagonist sits alone in theatre."   -->
<!-- <img src="assets\img\logo\logo-diamond.svg" alt="" style="max-width: 100px">  -->

<div style="box-sizing: border-box;">
<div style="float: left;width: 50%; height: 300px;">
<h1 style="font-size: 3em; text-align: left; padding-top: 150px;">Story-Cut Tools</h1>
<p style="font-size: 1.3em; margin-top: -10px; text-align: left">Understand your place in the story of Life</p>
</div>

<img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Geological_time_spiral.png" alt="Evolutionary spiral."  style="max-width: 40%; max-height: 60%;height: auto; user-select: none; border-radius: 30px;display: inline">
</div>


<h2>The Power of Storytelling</h2>

<p>Life is a beautiful story. From the first single-cell organism of the Precambrian Age to the massive dinosaurs of the Jurassic Period, life's evolution has always been about individuals struggling to survive.</p>
<p>And humanity is no different. But we do more than live the story of life; we know our days are filled with heroes and villains, climatic events and plot twists.</p>
<p>But we're often so busy living the story of life, we can find it tough to reflect on it. We all hope our jobs, products, and lives contribute to life's evolution. We have many belief systems to help us judge if we're succeeding. But we usually evaluate our beliefs using those same beliefs, something that doesn't encourage honest reflection.</p>
<p>Since life is an ongoing story, understanding storytelling helps us see our place in the story of life and judge if we are helping life evolve.</p>
<p>That's why this book empowers you to understand stories, fictitious ones, and those in the real world. It tells you wht makes some stories good and others terrible. It explains what makes villains evil and heroes great. And most importantly, this book explains stories are not about characters fighting over values and opinions but battles to control real things like clean water, water supplies, and faster computers.</p>
<p>This site is longer than most content today. I write shorter elsewhere, but this site goes deep. If you take the time, you'll learn a framework of easy-to-remember tools that uncover insights into any story, simple ones like the user experience of an app. More complex stories such as the daily news. And grand stories, like the tales that drive our economics, history, and politics.</p>
<p>That's not hyperbole. Life is indeed a beautiful story, and humanity writes another page every day. You'll deeply understand how our heroes, villains, and plot twists much better after reading and mastering <i>Story Cut Tools</i>.</p>

<hr>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
