---
layout: default
title: Home
---

<div style="
width: 100%;
max-height: 100%;
margin: 0 auto;
">

<!-- <img src="assets\img\audience3.jpg" alt="Protagonist sits alone in theatre."   -->
<img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Geological_time_spiral.png" alt="Evolutionary spiral."  
style="
max-width: 60%;
max-height: 60%;
height: auto;
user-select: none
">

</div>


<!-- nice to be fancy, but concentrate on user stories. comment on the applicability afterwards -->
<h2>The Power of Storytelling</h2>

<p>Life is a good story. From the first single-cell organism of the Precambrian Age, the massive dinosaurs of the Jurassic Period, life on Earth has always been about individuals struggling to evolve itself to survive to its environment in a gripping story of life and death; and humanity is no different. But we do more than live this tale; we know our lives are filled with heroes, villains, climatic events, and plot twists.</p>
<p>Yet it's tough for you and I to see our story; because we're busy living it. We all hope our jobs, products, and lives contribute to life's evolution. We have many belief systems to help us judge if we're succeeding. But we usually evaluate our beliefs using those same beliefs; something that doesn't encourage honest reflection.</p>
<p>Since life is an ongoing story, understanding storytelling helps uncover if we're helping life prosper today.</p>
<p>That's why this book empowers you to understand stories; fictitious one and those in the real world. It tells you things what makes some stories good and others terrible. It explains what makes a villain evil and heroes great. And most importantly, this book explains stories are not about characters fighting over values and opinions, but battles to control real things like stronger muscles, better eyesight, and faster brain power.</p>
<p>This site is longer than most content today. I write shorter elsewhere, but this site goes deep. If you take the time, you'll learn a framework of easy-to-remember tools that uncover insights into any story; simple ones like the user experience of an app. More complex stories such as the daily news. And grand stories, like the tales that drive our economics, history, and politics.</p>
<p>That's not hyperbole. There are stories in everything humanity does, and, since you'll deeply understand storytelling, you'll understand the heroes, villains, and plot twists of even our most epic real-life stories—especially you're own—much better after reading this book.</p>

<hr>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
