---
layout: default
title: Home
---
<!-- nice to be fancy, but concentrate on user stories. comment on the applicability afterwards -->
<h2>The Power of Storytelling</h2>

<p>Life is a good story. From the first single-cell organism to the massive dinosaurs, life on Earth has always been about individuals struggling to earn their place in this world. Humanity is no different. But we do more than live a story; we know our lives burst with heroes, villains, climatic events, and plot twists.</p>
<p>Still, even though we use stories to sell things, explain current events, educate, and entertain, it's tough to see a story you're living inside. That's why understanding storytelling helps a person make better sense of her place inside mankind's ongoing struggle to evolve, and earn, it's place on Earth.</p>
<p>This book empowers you to see stories. It tells you what makes some good and others terrible. It explains what makes a villain evil and how heroes earn their title.</p>
<p>This site is longer than most content today. I write shorter elsewhere, but this site goes deep. If you take the time, you'll learn a framework of easy-to-remember tools that uncover insights into any story; from the user experience of an app to the steps behind a great sales call. You'll even see the hidden story that drives our economics, history, and politics.</p>
<p>That's not hyperbole. These are all events inside the story of life's evolution. And, since you'll deeply understand storytelling, you'll be able to identify the heroes, villains, and plot twists much better after reading this book.</p>

<hr>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
